<p>
    <ngb-alert [dismissible]="false">
        <h1>{{title}}</h1>
    </ngb-alert>
</p>
<div class="modal-body row justify-content-center">
    <div class="col-12">
        <form [formGroup]="loginForm" (ngSubmit)="userLogin()" class="row flat-inputs">
            <div class="col-12">
                <div class="col-md-6 col-lg-6 form-group mb-3">
                    <input type="text" formControlName="user" placeholder="Enter user name" class="form-control">
                    <span *ngIf="user && user.invalid && user.touched" class="text-danger">Valid user is required</span>
                </div>
            </div>
            <div class="col-12">
                <div class="col-md-6 col-lg-6 form-group mb-3">
                    <input type="password" formControlName="password" placeholder="Enter password" class="form-control">
                    <span *ngIf="password && password.invalid && password.touched" class="text-danger">Valid password is required</span>
                </div>
            </div>
            <div class="col-12">
                <div class="col-md-6 col-lg-6">
                    <button class="btn btn-success text-white text-capitalize w-100">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>